NODE_ENV=development
PORT=3000

LOG_LEVEL=info

DATABASE_URL=postgresql://postgres:postgres@postgres:5432/apuestasDB

REDIS_HOST=redis
REDIS_PORT=6379

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_SQS_ENDPOINT=http://localstack:4566
SQS_AUDIT_QUEUE_URL=http://sqs.us-east-1.localhost.localstack.cloud:4566/000000000000/audit-events
SQS_NOTIFICATION_QUEUE_URL=http://sqs.us-east-1.localhost.localstack.cloud:4566/000000000000/notifications
SQS_WAIT_TIME_SECONDS=10
SQS_VISIBILITY_TIMEOUT_SECONDS=30

JWT_SECRET=dsnfkhsdbyfbysb
JWT_EXPIRES_IN=1h

MIN_STAKE=1.00
MAX_STAKE=1000.00
DEFAULT_CURRENCY=PEN

EVENTS_CACHE_TTL=60
DEFAULT_FOOTBALL_EVENT_DURATION_MINUTES=120

RATE_LIMIT_TTL=60
RATE_LIMIT_MAX=60

OUTBOX_BATCH_SIZE=50
OUTBOX_POLL_INTERVAL_MS=2000
OUTBOX_PROCESSING_TIMEOUT_MS=60000
